 <% include partials/_head %>
<body>
  <form method="POST" action="/register">
    <label for="username">Enter Username:</label>
    <input id="username" type="text" name="username" placeholder="username">
    <input type="email" name="email" placeholder="Your email">
    <input type="password" name="password" placeholder="Create password">
    <input type="submit" name="register" value="register">
  </form>

 <% if(locals.error){ %>
  <h3><%= error%></h3>
 <%}%>

</body>
</html>