<% include partials/_head %>
<body>
  <% include partials/_header %>

  <p>
    <%= shortURL %> : <%= longURL%>
  </p>
  <p>
    <form method="POST" action="/urls/<%= shortURL %>/update">
      <input id="update" type="text" name="update" placeholder="http://">
      <input type="submit" value="update">
    </form>
  </p>

</body>
</html>