<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <!-- <link rel="stylesheet" type="text/css" href="../temp.css"/> -->
  <style type="text/css">
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
  </style>
</head>