<header>
  <% if(locals.user_id) { %>
  <h2>Logged da fuck in as <%= console.log(locals)%>
    <form method="POST" action="/logout">
      <input type="submit" value="logout" name="logout">
    </form>
  </h2>
  <%} else{%>

  <%}%>
  <a href="/urls/register">Sign Up</a>

  <a href="/login">Login</a>

</header>