<header>

  <% if (!user) { %>
    <p><a href="/login">Login</a><p>or</p><a href="/register">Register</a></p>
  <% } else { %>
    <p>Hello <%= user.username %> (<%= user.email %>)</p>
    <form method="POST" action="/urls/logout" style="margin-bottom:20px">
      <input type="submit" value="Logout">
    </form>
  <% } %>


</header>